body {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
    color: #1d1c1c;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/pixel-heart.png");
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #1d1c1c;
  }

form .error {
    color: #ff0000;
}